.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);

    z-index: 9998;
}
.taskFormContainer{
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;

    /* Positioning */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Styling */
    background-color: white;
    border-radius: 15px;

    /* Sizing */
    width: 500px;
    max-width: 90%;
    height: max-content;
    z-index: 9999;

}
.taskFormContainer.dark{
    background-color: var(--sectionColorDarkMode);
}
.taskForm{
    border: 1px solid black;
    height: 500px;
    width: 470px;
    padding: 10px;
    border-radius: 10px;
}
.taskForm.dark{
    border-color: #d7deee ;
}


label{
    display: block;
    font-size: 18px;
    margin-top: 10px;
}
label.dark{
    color: #d7deee;
}



input{
    outline: none;
}
#taskName.dark{
    background-color: #0f254c;
    color: #f0f0f0;
    border: 0.5px solid #d7deee;
    border-radius: 2px;
}


textarea{
    min-width: 400px;
    max-width: 420px;
    padding: 5px;
    min-height: 150px;
    max-height: 150px ;
    border-radius: 8px;
    outline: none;
}
textarea.dark{
    background-color: #0f254c;
    color: #f0f0f0;
}
textarea::-webkit-scrollbar{
    display: none;
}



.priority{
    margin-left: 14px;
}
.status{
    margin-left: 25px;
}


select{
    outline: none;
    font-family: inherit;
}
select.dark{
    background-color: #0f254c;
    color: #f0f0f0;
    outline: none;
    border: 0.5px solid #d7deee;
    border-radius: 3px ;
}


.taskDueDate{
    outline: none;
    font-family: inherit;
}
.taskDueDate.dark{
    background-color: #0f254c;
    color: #f0f0f0;
    border: 0.5px solid #d7deee;
    border-radius: 2px;
}


.form-actions{
    margin-top: 120px;
    position: relative;
    float: right;
}
.formBtns{
    margin: 0 20px;
    width: 90px;
    height: 30px;
    background-color: white;
    font-size: 15px;
    border: none;
    position: sticky;
}
#cancel{
    border: 2px solid rgb(230, 100, 100);
    color: rgb(230, 100, 100) ;
    border-radius: 10px ;
    background: transparent;
}
#cancel:hover{
    background-color: rgb(230, 100, 100);
    color: white;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}
#cancel:active{
    background-color: rgb(202, 81, 81);
    border-color:  rgb(202, 81, 81) ;
    transform: scale(0.9);
}
#submit{
    border: 2px solid rgb(130, 212, 114);
    color: rgb(120, 184, 107) ;
    border-radius: 10px ;
    background: transparent;
}
#submit:hover{
    background-color: rgb(130, 212, 114);
    color: white;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}
#submit:active{
    background-color: rgb(108, 176, 95);
    border-color: rgb(108, 176, 95);
    transform: scale(0.9);
}
